[submodule "rai-pal"]
	path = rai-pal
	url = https://github.com/Raicuparta/rai-pal.git
[submodule "uuvr"]
	path = uuvr
	url = https://github.com/Raicuparta/uuvr.git
[submodule "BeplnEx"]
	path = BeplnEx
	url = https://github.com/Raicuparta/beplnex.git
